{% extends 'user/category.html' %}
{% load static %}


{% block css_extra %}
<link rel="stylesheet" href="{% static 'css/core-style.css' %}">
{% endblock css_extra %}

{% block top_banner_data %}
{% endblock top_banner_data %}


{% block section_data %}

<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
            <div class="card-body w-75">

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Username  :</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.username}}</p>
                </div>
              </div>
              <hr>

              <form action="{% url 'add_account_address' %}" method="post">
                {% csrf_token %}

                <div class="m-3">
                  <label for="exampleInputEmail1" class="form-label">Enter Full name to contact</label>
                <input type="text" name="full_name" class="form-control" maxlength="50"
                id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3 d-flex justify-content-between">
                  <div class="col-6 w-75">
                <label for="exampleInputEmail1" class="form-label">Phone Number</label>
                <input type="text" inputmode="numeric" name="phone" class="form-control" maxlength="10"
                id="exampleInputEmail1" aria-describedby="emailHelp" required>
                  </div>
                  <div class="col-6 w-75">
                    <label for="exampleInputEmail1" class="form-label">Alternative Number</label>
                    <input type="text" inputmode="numeric" name="alt_ph" class="form-control" maxlength="10"
                    id="exampleInputEmail1" aria-describedby="emailHelp" required>
                      </div>
                    </div>

                <div class="mb-3 d-flex justify-content-between">
                    <div class="col-6 w-75">
                  <label for="exampleInputEmail1" class="form-label">Pincode</label>
                  <input type="text" inputmode="numeric" name="pincode" class="form-control" maxlength="6"
                  id="exampleInputEmail1" aria-describedby="emailHelp" required>
                    </div>
                    <div class="col-6 w-75">
                  <label for="exampleInputEmail1" class="form-label">post_office</label>
                  <input type="text" name="post_office" class="form-control" 
                  id="exampleInputEmail1" aria-describedby="emailHelp" required>
                      </div>
                </div>

                <div class="mb-3 d-flex justify-content-between">
                      <div class="col-6 w-75">
                  <label for="exampleInputPassword1" class="form-label">Landmark</label>
                  <input type="text" name="landmark" class="form-control"
                    id="exampleInputPassword1" >
                    </div>
                    <div class="col-6 w-75">
                  <label for="exampleInputPassword1" class="form-label">Flat, House no., Building, Company, Apartment</label>
                  <input type="text" name="accessible" class="form-control"
                    id="exampleInputPassword1" required>
                    </div>
                </div>

                <div class="ml-5 mr-5 form-check d-flex justify-content-between">

                    <label for="location1">
                    <input type="radio" id="location1" name="address_type" value="home" required/>
                    Home</label>
                    <label for="location2">
                    <input type="radio" id="location2" name="address_type" value="office" required/>
                    Office</label>
                    <label for="location3">
                    <input type="radio" id="location3" name="address_type" value="other" required/>
                      Other</label>

                </div>               

                <div class="mb-3 d-flex justify-content-between">
                  <div class="col-4">
                  <label for="exampleInputEmail1" class="form-label">Area, Street, Sector, Village</label>
                  <input type="text" name="area" class="form-control" 
                  id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <div class="col-4">
                  <label for="exampleInputEmail1" class="form-label">State</label>
                  <input type="text" name="state" class="form-control" 
                  id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
                <div class="col-4">
                  <label for="exampleInputEmail1" class="form-label">City</label>
                  <input type="text" name="city" class="form-control"
                  id="exampleInputEmail1" aria-describedby="emailHelp" required>
                </div>
              </div>

              <div class="m-3">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
              
            </form>
            <div class="d-flex justify-content-center">
            {% if messages  %}
            {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <h4 style="color: darkred;">{{message}}</h4>
                    {% elif message.tags == 'success' %}
                      <h4 style="color: green;">{{message}}</h4>
                    {% else %}
                        <h4 style="color: orange;">{{message}}</h4>
                    {% endif %}
                
            {% endfor %}
            {% endif %} 
          </div>
            </div>

          </div>
    </div>            
</section>
{% endblock section_data %}

{% block footer_area %}

{% endblock footer_area %}