{% extends 'user/category.html' %}
{% load static %}


{% block css_extra %}
<link rel="stylesheet" href="{% static 'css/core-style.css' %}">
{% endblock css_extra %}

{% block top_banner_data %}
{% endblock top_banner_data %}


{% block section_data %}

<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">

        <div class="col-lg-8">
          <div class="card mb-4">
            <div class="card-body">

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Username  :</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.username}}</p>
                </div>
              </div>
              <hr>

              <form action="{% url 'change_password' %}" method="post">
                  {% csrf_token %}
                <div class="mb-3 ">
                  <label for="exampleInputEmail1" class="form-label">Enter old Password</label>
                  <input type="password" name="old_pass" class="form-control" 
                  id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3 ">
                  <label for="exampleInputEmail1" class="form-label">Enter new Password</label>
                  <input type="password" name="new_pass" class="form-control" 
                  id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3 ">
                  <label for="exampleInputEmail1" class="form-label">Confirm new Password</label>
                  <input type="password" name="new_passC" class="form-control" 
                  id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
              
                <div class="m-3 d-flex justify-content-between">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <a href="{% url 'my_account' %}"class="btn btn-warning">Cancel</a>
                </div>
              
            </form>
                                {% if messages  %}
                                {% for message in messages %}
                                
                                        {% if message.tags == 'error' %}
                                        <h4 style="color: darkred;">{{message}}</h4>
                                        {% elif message.tags == 'success' %}
                                          <h4 style="color: green;">{{message}}</h4>
                                        {% else %}
                                            <h4 style="color: orange;">{{message}}</h4>
                                        {% endif %}
                                    
                                {% endfor %}
                                {% endif %} 
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

{% endblock section_data %}

{% block footer_area %}

{% endblock footer_area %}