{% extends 'user/category.html' %}
{% load static %}


{% block header_name %}
					<h1>All Orders</h1>
{% endblock header_name %}
{% block section_data %}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<script>
swal("Error!", "{{ message }}", "error"); // Display error message with a warning icon
</script>
{% elif message.tags == 'success' %}
<script>
swal("Success!", "{{ message }}", "success"); // Display success message with a success icon
</script>
{% else %}
<script>
swal("Message", "{{ message }}"); // Display general message
</script>
{% endif %}
{% endfor %}
{% endif %}

<section class="cart_area">
    <div class="container">
        <div class="cart_inner">
            <div class="table-responsive">
                
                {% if all_orders %}
                <table class="table">
                    <thead>
                        
                        <tr>
                            <th scope="col">Product (Click for details)</th>                      
                            <th scope="col">Order no</th>
                            <th scope="col">Order Date</th>
                            <th scope="col">Payment</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action (Invoice Download)</th>
                        </tr>
                    </thead>
                <form action="{% url 'update_total_price' %}" method="post">
                    {% csrf_token %}
                    <tbody>
                        {% for obj in all_orders %}
                        <tr >
                            <td class="d-flex justify-content-between">
                                <a href="{% url 'user_order_details' order_id=obj.id %}">
                               <img style="width: 100px; height: 100px;" src="{{obj.product_added.image_first.url}}" alt="">
                               </a> 
                            
                            <td>   
                                <h5 >{{ obj.order.serial_number }}</h5>
                            </td>

                            <td>
                                <h5>{{ obj.order.order_date | date:"d-m-Y" }}</h5>
                            </td>

                            <td>
                                {% if obj.order.amount_to_pay and obj.order.total_amount == 0.00 %}
                                <h5>Not paid</h5>
                                {% else %}
                                <h5>{{ obj.order.payment_method }}</h5>
                                {% endif %}
                            </td>

                            <td >
                                <h5 class="text-danger">{{ obj.status }}</h5>
                                {% if obj.status == 'Order confirmed' or obj.status == 'Shipped' %}
                                <p >{{ obj.expected_delivery_date | date:"d-m-Y" }}</p>
                                {% elif obj.status == 'Out For Delivery' %}
                                <p>Will Arrive today</p>
                                {% elif obj.status == 'Order Pending' %}
                                    <p>Update in Few Hours</p>
                                {% elif obj.status == 'Returned' %}
                                <p>{{obj.last_update| date:"d-m-Y" }}</p>
                                {% elif obj.status == 'Cancelled' %}
                                <p>{{obj.last_update | date:"d-m-Y" }}</p>
                                {% else %}
                                <p>{{obj.last_update| date:"d-m-Y"}}</p>
                                {% endif %}
                                
                            </td>
                            <td >
                                <div class="d-flex justify-content-between">
                                <a href="{% url 'order_invoice' serial_number=obj.order.serial_number %}" >
                                    <img width="25" height="25" src="https://img.icons8.com/ios-filled/25/invoice-1.png" alt="invoice-1"/>
                                </a>
                                <br>
                                <br>
                                {% if obj.order.amount_to_pay and obj.order.total_amount  == 0.00 %}
                                    <h5 class="text-info" >NOT PAID</a>
                                {% else %}

                                {% if obj.status == 'Returned' or obj.status == 'Cancelled' %}
                                <h5 class="text-danger"> Cancelled </h5>
                                {% elif obj.status == 'Delivered' and not obj.cancel_return_confirm  %}
                                <a data-return-url="{% url 'cancel_order' order_id=obj.pk %}?next={{ request.path }}" class="btn btn-outline-danger return-link">Return</a>
                                {% else %}
                                    {% if obj.cancel_return_confirm and obj.status == 'Delivered' %}
                                    <h5 class="text-danger">Return <br>Requested</h5>
                                    {% elif obj.cancel_return_confirm and obj.status != 'Delivered' %}
                                    <h5 class="text-info">Cancel <br>Requested</h5>
                                    {% else %}
                                    <a data-cancel-url="{% url 'cancel_order' order_id=obj.pk %}?next={{ request.path }}" class="btn btn-outline-danger cancel-link">Cancel</a>
                                    {% endif %}
                                    
                                {% endif %}

                                {% endif %}
                            </div>
                            </td>
                        </tr>
                        {% endfor %}

                        <tr class="shipping_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>

                                    
                            </td>
                        </tr>
                        <tr class="out_button_area">
                            <td>

                            </td>
                            <td>

                            </td>
                            <td>
                                <div class="checkout_btn_inner d-flex align-items-center">
                                    <a class="gray_btn"  style="width: 60%;" href="#">Continue Shopping</a>
                                </div>
                            </td>
                            <div >
                                {% if messages  %}
                                {% for message in messages %}
                                        {% if message.tags == 'error' %}
                                        <h4 style="color: darkred;">{{message}}</h4>
                                        {% elif message.tags == 'success' %}
                                          <h4 style="color: green;">{{message}}</h4>
                                        {% else %}
                                            <h4 style="color: orange;">{{message}}</h4>
                                        {% endif %}
                                    
                                {% endfor %}
                                {% endif %} 
                              </div>
                        </tr>
                    </tbody>
                </table>
                {% else %}
                <h3 class="text-center text-danger pb-5"><b>ORDER IS EMPTY,   TRY TO ADD SOMETHING</b></h3>
                {% endif %}
            </div>
        </div>
    </div>
</section>

{% endblock section_data %}

{% block extra_script %}
<script>
   
    document.querySelectorAll('.cancel-link').forEach(link => {
        link.addEventListener('click', function(event) {
            event.preventDefault(); // Prevent the default behavior of the link
    
            let cancelUrl = this.getAttribute('data-cancel-url'); // Get the cancel URL from data attribute
    
            // Show SweetAlert2 dialog with a reason select box
            Swal.fire({
                title: "Are you sure?",
                html: `
                    <p>Once cancelled, you can't undo the action!</p>
                    <select id="cancel-reason" class="swal2-select">
                        <option value="" selected disabled>Select a reason for cancellation</option>
                        <option value="found_a_better_price">Found a better price</option>
                        <option value="item_not_needed">Item not needed anymore</option>
                        <option value="order_by_mistake">Ordered by mistake</option>
                        <option value="other">Other</option>
                    </select>
                `,
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, Cancel it!",
                preConfirm: () => {
                    const reason = Swal.getPopup().querySelector('#cancel-reason').value;
                    if (!reason) {
                        Swal.showValidationMessage('Please select a reason for cancellation');
                    }
                    return reason;
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    // If user confirms cancellation, navigate to the cancel URL with the reason as a query parameter
                    const cancelUrlWithReason = new URL(cancelUrl, window.location.origin);
                    cancelUrlWithReason.searchParams.append('reason', result.value);
                    window.location.href = cancelUrlWithReason;
                }
            });
        });
    });    
    
    document.querySelectorAll('.return-link').forEach(link => {
        link.addEventListener('click', function(event) {
            event.preventDefault(); // Prevent the default behavior of the link
    
            let cancelUrl = this.getAttribute('data-return-url'); // Get the cancel URL from data attribute
    
            // Show SweetAlert2 dialog with a reason select box
            Swal.fire({
                title: "Are you sure?",
                html: `
                    <p>Once returned, you can't undo the action!</p>
                    <select id="cancel-reason" class="swal2-select">
                        <option value="" selected disabled>Select a reason for Return</option>
                        <option value="Product has defect or damage">Product has defect or damage</option>
                        <option value="Received a different product">Received a different product</option>
                        <option value="Received product does not match the description or images provided">Product not match the description</option>
                        <option value="Ordered by mistake">Ordered by mistake</option>
                        <option value="other">Other</option>
                    </select>
                `,
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, Return Product!",
                preConfirm: () => {
                    const reason = Swal.getPopup().querySelector('#cancel-reason').value;
                    if (!reason) {
                        Swal.showValidationMessage('Please select a reason for Returning');
                    }
                    return reason;
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    // If user confirms cancellation, navigate to the cancel URL with the reason as a query parameter
                    const cancelUrlWithReason = new URL(cancelUrl, window.location.origin);
                    cancelUrlWithReason.searchParams.append('reason', result.value);
                    window.location.href = cancelUrlWithReason;
                }
            });
        });
    });    

    $(document).ready(function() {
        const csrfToken = $("[name=csrfmiddlewaretoken]").val();
    
        $("#pay-button").click(function(e) {
            e.preventDefault(); // Prevent the default form submission
    
            const amount = $("#amount").val(); // Get the amount from the input field
            const paymentId = "generated_payment_id"; // Replace with the actual payment ID logic
    
            console.log("Amount entered:", amount);
            console.log("Generated payment ID:", paymentId);
    
            if (!amount || isNaN(amount) || amount <= 0) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Please enter a valid amount.',
                    icon: 'error',
                    showConfirmButton: true
                });
                return;
            }
    
            const data = {
                amount: amount,
                payment_id: paymentId,
            };
    
            console.log("Data to be sent to initiate payment:", data);
    
            $.ajax({
                type: "POST",
                url: "/initiate_payment_for_wallet/",  // Update with your correct URL
                data: data,
                dataType: "json",
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", csrfToken);
                    console.log("CSRF Token:", csrfToken);
                },
                success: function(data) {
                    console.log("Response from initiate_payment:", data);
    
                    const options = {
                        key: data.key,
                        amount: data.amount,
                        currency: data.currency,
                        order_id: data.order_id,
                        name: data.name,
                        description: data.description,
                        image: data.image,
                        handler: function(response) {
                            console.log("Razorpay payment response:", response);
                            if (response.razorpay_payment_id) {
                                Swal.fire({
                                    text: 'Payment was successful, just wait',
                                    timer: 500,
                                    showConfirmButton: false
                                }).then(() => {
                                    $.ajax({
                                        type: "POST",
                                        url: "/user/wallet/update_wallet_balance/",
                                        data: {
                                            amount: amount,
                                            payment_id: response.razorpay_payment_id
                                        },
                                        dataType: "json",
                                        beforeSend: function(xhr) {
                                            xhr.setRequestHeader("X-CSRFToken", csrfToken);
                                            console.log("CSRF Token for updating wallet balance:", csrfToken);
                                        },
                                        success: function(data) {
                                            console.log("Response from update_wallet_balance:", data);
                                            if (data.status === 'success') {
                                                Swal.fire({
                                                    title: 'Success!',
                                                    text: 'Wallet balance updated successfully.',
                                                    icon: 'success',
                                                    showConfirmButton: true
                                                }).then(() => {
                                                    console.log("Reloading page after successful wallet update.");
                                                    window.location.reload();
                                                });
                                            } else {
                                                Swal.fire({
                                                    title: 'Error!',
                                                    text: 'Failed to update wallet balance. Please try again.',
                                                    icon: 'error',
                                                    showConfirmButton: true
                                                });
                                            }
                                        },
                                        error: function(error) {
                                            console.error("Error updating wallet balance:", error);
                                            Swal.fire({
                                                title: 'Error!',
                                                text: 'There was an issue updating the wallet balance. Please try again.',
                                                icon: 'error',
                                                showConfirmButton: true
                                            });
                                        }
                                    });
                                });
                            } else {
                                Swal.fire({
                                    title: 'Error!',
                                    text: 'Payment failed. Please try again.',
                                    icon: 'error',
                                    showConfirmButton: true
                                });
                            }
                        },
                        prefill: {
                            name: "Customer Name",  // You can dynamically set these values
                            email: "customer@example.com",  // You can dynamically set these values
                            contact: "customer_contact",  // You can dynamically set these values
                        },
                    };
                    console.log("Razorpay options:", options);
                    const rzp = new Razorpay(options);
                    rzp.open();
                },
                error: function(error) {
                    console.error("Error initiating payment:", error);
                    Swal.fire({
                        title: 'Error!',
                        text: 'There was an issue initiating the payment. Please try again.',
                        icon: 'error',
                        showConfirmButton: true
                    });
                }
            });
        });
    });
</script>
{% endblock extra_script %}
