{% extends 'admin/admin_dashboard.html' %}
{% load static %}

{% block navbar_menu_wrapped %}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<script>
swal("Error!", "{{ message }}", "error"); // Display error message with a warning icon
</script>
{% elif message.tags == 'success' %}
<script>
swal("Success!", "{{ message }}", "success"); // Display success message with a success icon
</script>
{% else %}
<script>
swal("Message", "{{ message }}"); // Display general message
</script>
{% endif %}
{% endfor %}
{% endif %}

{% endblock navbar_menu_wrapped %}


{% block dashboard %}
<div class="main-panel">
    <div class="content-wrapper d-flex justify-content-center">
<div class="row">
<div class="col-12 grid-margin stretch-card">
    <div class="card ">
      <div class="card-body">
        <h4 class="card-title text-center">ADD PRODUCT</h4>
        <p>Color and images</p>
        {% for message in messages %}
        {% if message.tags == 'error' %}
            <h5 class="text-danger">{{message}}</h5>
        {% elif message.tags == 'success' %}
            <h5 class="text-success">{{message}}</h5>
        {% else %}
            <h5 class="text-warning">{{message}}</h5>
        
        {% endif %}
    {% endfor %}
        <form class="forms-sample" method="post" action="{% url 'admin_add_product' %}" enctype="multipart/form-data">

                {% csrf_token %}
                <div class="form-group ml-3 mr-3">
                    <label for="exampleInputName1">Product Name</label>
                    <input type="text" name="product_name" class="form-control" id="exampleInputName1" placeholder="Variant Name">
                </div>
                <div class="form-group col-12 d-flex justify-content-between">
                      <div class="col-4 d-flex align-items-center">
                      </div>
                      <div class="col-4 d-flex align-items-center">
                  <label for="exampleInputEmail3">Category</label>
                  <select name="selected_category" class="m-1">
                    {% for category in categories %}
                        <option value="{{ category.id }}">{{ category.category_name }}</option>
                    {% endfor %}
                </select>
                      </div>
                      <div class="col-4">
                  <label for="exampleInputPassword4">Price</label>
                  <input type="number" name="price" class="form-control" id="exampleInputPassword4" placeholder="Rupees">
                      </div>
                
                 

                <button type="submit" class="btn btn-primary m-3">Submit</button>
                <a href="{% url 'admin_product' %}"><button class="m-3 btn btn-light">Cancel</button></a>

        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>

{% endblock dashboard %}