{% extends 'admin/admin_dashboard.html' %}
{% load static %}

{% block navbar_menu_wrapped %}

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<script>
swal("Error!", "{{ message }}", "error"); // Display error message with a warning icon
</script>
{% elif message.tags == 'success' %}
<script>
swal("Success!", "{{ message }}", "success"); // Display success message with a success icon
</script>
{% else %}
<script>
swal("Message", "{{ message }}"); // Display general message
</script>
{% endif %}
{% endfor %}
{% endif %}

{% endblock navbar_menu_wrapped %}


{% block dashboard %}
<div class="main-panel">
    <div class="content-wrapper d-flex justify-content-center">
<div class="row">
<div class="col-12 grid-margin stretch-card">
    <div class="card ">
      <div class="card-body">
        <h4 class="card-title text-center">ADD PRODUCT</h4>
        <p class="card-description text-center"> Basic form elements </p>
        <form class="forms-sample">
          <div class="form-group ml-3 mr-3">
            <label for="exampleInputName1">Product Name</label>
            <input type="text" class="form-control" id="exampleInputName1" placeholder="product name">
          </div>
          <div class="form-group col-12 d-flex justify-content-between">
                <div class="col-4">
            <label for="exampleInputEmail3">Category</label>
            <input type="text" class="form-control" id="exampleInputEmail3" placeholder="category" required>
                </div>
                <div class="col-4">
            <label for="exampleInputPassword4">Price</label>
            <input type="number" class="form-control" id="exampleInputPassword4" placeholder="price" required>
                </div>
                <div class="col-4">
            <label for="exampleInputPassword4">Quantity</label>
            <input type="number" class="form-control" id="exampleInputPassword4" placeholder="quantity" required>
                </div>
          </div>
          <div class="form-group ml-3 mr-3">
            <label for="exampleTextarea1">Description</label>
            <textarea class="form-control" id="exampleTextarea1" rows="4" required></textarea>
          </div>
              <div class="m-3 d-flex justify-content-between">
                <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg ,image/jpg" required/>
                <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg ,image/jpg" required/>
              </div>
              <div class="m-3 d-flex justify-content-between">
                <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg ,image/jpg" required/>
                <input type="file" id="avatar" name="avatar" accept="image/png, image/jpeg ,image/jpg" required/>
              </div>           
              <div class="m-3">
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
</div>

{% endblock dashboard %}