{% extends 'admin/admin_dashboard.html' %}
{% load static %}

{% block navbar_menu_wrapped %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

{% if messages %}
{% for message in messages %}
{% if message.tags == 'error' %}
<script>
swal("Error!", "{{ message }}", "error"); // Display error message with a warning icon
</script>
{% elif message.tags == 'success' %}
<script>
swal("Success!", "{{ message }}", "success"); // Display success message with a success icon
</script>
{% else %}
<script>
swal("Message", "{{ message }}"); // Display general message
</script>
{% endif %}
{% endfor %}
{% endif %}

{% endblock navbar_menu_wrapped %}


{% block dashboard %}
<div class="main-panel">
    <div class="content-wrapper d-flex justify-content-center">
<div class="row">
<div class="col-12 grid-margin stretch-card">
    <div class="card ">
     
      <div class="card-body">
        <h4 class="card-title text-center">EDIT PRODUCT QUANTITY</h4>
        <p class="card-description text-center"> Edit quantity of product </p>
        {% for message in messages %}
        {% if message.tags == 'error' %}
            <h5 class="text-danger">{{message}}</h5>
        {% elif message.tags == 'success' %}
            <h5 class="text-success">{{message}}</h5>
        {% else %}
            <h5 class="text-warning">{{message}}</h5>
        
        {% endif %}
    {% endfor %}
        <form class="forms-sample" method="post">

          {% csrf_token %}
          <div class="form-group ml-3 mr-3">
            <label for="exampleInputName1">Product Name</label>
              <h5 class="text-info">{{product_name.product_data_id}} </h5>
              <h6>Variant name: <span class="text-info">{{product_name.product_data_id.product_variant_name}}</span></h6>
          </div>
          <div class="form-group col-12 d-flex justify-content-between">
            {% if products_data %}
            {% for product in products_data %}
                <div class="col-3">
            <label for="exampleInputPassword4">{{product.product_size}}</label>
            <input type="number" hidden name="pro[]" value="{{product.id}}">
            <input type="number" value="{{product.product_quantity}}"  name="product_qty[]" class="form-control" id="exampleInputPassword4">   
                </div>
            {% endfor %}
            {% else %}
            <h6 class="text-danger">No variants added</h6>
            {% endif %}
          </div>
  
          {% if products_data %}
            <button type="submit" class="btn btn-primary m-4">Submit</button>
          {% endif %}
        </form>
        <a href="{{next_url}}"><button class="m-4 btn btn-light">Cancel</button></a>
      </div>
    </div>
  </div>
</div>
</div>
</div>

{% endblock dashboard %}